body{

    background-color: rgb(204, 204, 204);
}

header{

    background-color: black;
    color: rgb(140, 237, 201);
    align-items: center;
    justify-content: center;
    display: flex;
}
h1{

    background-color: black;
    color: rgb(102, 171, 231);
    
}
